<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="tfsUrl" value="http://test:80/tfs" />
    <add key="userName" value="" />
    <add key="password" value="" />
    <add key="domain" value="" />
    <add key="maxPriorityAllowed" value="10000" />
    <add key="project" value="project" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="areaPath" value="project1" />
    <add key="assignedTo" value="Sunny" />
    <add key="workItemTitle" value="" />
    <add key="filter" value="Ticket" />
    <add key="filter3" value="Ticket2" />
    <add key="iterationPath" value="" />
    <add key="team" value="team1" />
    <add key="backlogPriority" value="1000" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>